{% extends '../layouts/default.html' %}

{% block content_header %}
  <h1>{{ title }}</h1>
{% endblock %}

{% block content %}

<div class="login__social">
     <a href="/auth/facebook">
        <img src="/img/facebook.png" alt="facebook auth" height="70" width="70">
      </a>
     <a href="/auth/google">
        <img src="/img/google.png" alt="google auth" height="70" width="70">
      </a>
     <br>
      <h3>OR</h3>
     <br>
</div>

<div class="login__manual">
  <form action="/users/session" method="post" role="form">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">

    <p class="message">{{ message }} </p>

    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Email" name="email">

    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Password" name="password">

    <button type="submit">Log in</button>
    &nbsp; or &nbsp;
    <a href="/signup" class="show-signup">Sign up</a>

  </form>
</div>
{% endblock %}


